
.ellipsis {
    &_btn {
        background-color: rgb(216, 216, 216);
        padding: .2em;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        transition: 250ms ease-in-out all;
        cursor: pointer;
        position: relative;
        
        &:hover {
            background-color: rgb(163, 163, 163);
        }

        &.active {
            animation: 350ms ease-in-out spin forwards;
        }
        &.inactive {
            background-color: transparent;
            color: transparent;
            display: none;
        }
    }
        &_dropdown {
            position: absolute;
            background-color: white;
            border: 1px solid rgb(207, 207, 207);
            border-radius: 0.5em;
            display: flex;
            flex-direction: column;
            z-index: 1;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.199);
            min-width: 150px;
            overflow: hidden;
        }
            
            
        &_dropdown_item {
            width: 100%;
            padding: 0.5em 0.5em;
            height: 2em;
            display: flex;
            align-items: center;
            background-color: transparent;
            transition: 250ms ease-in-out all;
            
            cursor: pointer;
            &:hover {
                background-color: #cecece;
            }
        }
}

.submenu {
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.199);
    min-width: 150px;
    overflow: hidden;

    &_item {
        width: 100%;
        padding: 0.5em 0.5em;
        height: 2em;
        display: flex;
        align-items: center;
        background-color: transparent;
        transition: 250ms ease-in-out all;
        
        cursor: pointer;
        &:hover {
            background-color: #cecece;
        }
    }
}

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }