.ellipsis_btn {
    background-color: rgba(128, 128, 128, 0.342);
    padding: .2em;
    height: 20px;
    width: 20px;
    border-radius: 100%;

    position: relative;
    &:hover {
        background-color: #ffffff;
    }
}


.ellipsis_dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.199);
    .ellipsis_dropdown_item {
        padding: 0.5em 0;
        background-color: transparent;
        cursor: pointer;
        &:hover {
            background-color: #f5f5f5;
        }
    }
}