.resource_title {
    font-weight: bold;
    padding: 1em 0;
    font-size: 2em;
}

.active {
    & > input {
        font-weight: inherit;
        padding: inherit;
        font-size: inherit;
        padding: .2em;
        outline: 1px solid lightgrey;
    }
}

.resource_description {
    padding: 1em 0;
}


.placeholder {
    color: rgba(128, 128, 128, 0.651)
}